<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TexVet: Activity report for {{report.StartDate}} - {{report.EndDate}}</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <p>Hello TexVet Team:</p>

            <p>Here’s my activity report for {{report.StartDate}} to {{report.EndDate}}</p>

            <p># of chats started: {{report.StartedChats}}</p>
            <p># of chats with at least one referral: {{report.ReferralChats}}</p>

            <p># of chats requesting transcript: {{report.TranscriptReq}}</p>
            <p># of chats requesting a human: {{report.HumanReq}}</p>
            <p># of chats requesting follow-up: {{report.FollowUpReq}}</p>

            <p># of follow-ups attempted: {{report.FollowUpAttempts}}</p>
            <p># of follow-ups completed: {{report.FollowUpCompleted}}</p>

            <p># of text chats: {{report.NoOfTextChats}}</p>

            <p># of voice chats: {{report.NoOfVoiceChats}}</p>

            <p>For past reports and additional details, visit {{report.URL}}</p>

            <p>The TexVet Chatbot</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
