<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TexVet: Activity report for {{startDate}} - {{endDate}}</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <p>Hello TexVet Team:</p>

            <p>Here’s my activity report for {{startDate}} to {{endDate}}</p>

            <p># of chats started: {{startedChats}}</p>
            <p># of chats with at least one referral: {{referralChats}}</p>

            <p># of chats requesting transcript: {{transcriptReq}}</p>
            <p># of chats requesting a human: {{humanReq}}</p>
            <p># of chats requesting follow-up: {{followUpReq}}</p>

            <p># of follow-ups attempted: {{followUpAttempts}}</p>
            <p># of follow-ups completed: {{followUpCompleted}}</p>

            <p># of text chats: {{noOfTextChats}}</p>

            <p># of voice chats: {{noOfVoiceChats}}</p>

            <p>For past reports and additional details, visit {{url}}</p>

            <p>The TexVet Chatbot</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
