<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TexVet: Activity report for {{report.startDate}} - {{report.endDate}}</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <p>Hello TexVet Team:</p>

            <p>Here’s my activity report for {{report.startDate}} to {{report.endDate}}</p>

            <p># of chats started: {{report.startedChats}}</p>
            <p># of chats with at least one referral: {{report.referralChats}}</p>

            <p># of chats requesting transcript: {{report.transcriptReq}}</p>
            <p># of chats requesting a human: {{report.humanReq}}</p>
            <p># of chats requesting follow-up: {{report.followUpReq}}</p>

            <p># of follow-ups attempted: {{report.followUpAttempts}}</p>
            <p># of follow-ups completed: {{report.followUpCompleted}}</p>

            <p># of text chats: {{report.noOfTextChats}}</p>

            <p># of voice chats: {{report.noOfVoiceChats}}</p>

            <p>For past reports and additional details, visit {{report.url}}</p>

            <p>The TexVet Chatbot</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
